<<<<<<< HEAD
.botao {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none; 
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
}

.botao:hover {
    color: #95FFD4
}
=======
.botao{
background-color: #6278f7;
border-radius: 10px;
font-weight: 700;
font-size: 18px;
padding: 32px;
border: none;
cursor: pointer;
color: #fff;
margin: 32px 0;
}

.botao:hover{
    color: #95ffd4;
}
>>>>>>> 3ece127a3fbf50beb80b5d8ddc4f8896859923aa
